html,body{
    width: 100%;
    margin: 0px;
    padding:0px;
}
<!--
.link1:hover{
background: #316DC3 ;
color: white !important;
border-radius: 40px;
}
 

    .dropdown-menu:hover
{ display: block;
    background: white ;
    color: green!important;
  
}


 .carousel-inner img {
    width: 100%;
    height: 100%;
}
.icons:hover{
    background: black;
    color: cornsilk;
    font-weight: 5em;

}
.title-icon {
    margin: auto;
    border-bottom: green;
    max-width:4.5em;
    position: relative;
}
-->


